global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['cy-weather-node-exporter:9100']

  - job_name: 'api'
    static_configs:
      - targets: ['api:8000']
